beautifulsoup4==4.12.3
bs4==0.0.2
click==8.1.7
colorama==0.4.6
distro==1.9.0
environs==9.5.0
fastapi==0.115.6
filelock==3.16.1
fsspec==2024.10.0
fuzzywuzzy==0.18.0
groq==0.13.0
huggingface-hub==0.26.5
Jinja2==3.1.4
joblib==1.4.2
langchain-core==0.3.24
langchain-groq==0.2.1
langsmith==0.2.3
Metaphone==0.6
networkx==3.4.2
nltk==3.9.1
numpy==2.2.0
pandas==2.2.3
phonetics==1.0.5
pillow==11.0.0
pydantic==2.10.3
pymilvus==2.4.9
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
sentence-transformers==3.3.1
torch==2.5.1
transformers==4.47.0
uvicorn==0.32.1
